#card
{
    width:800px;
    height:500px;
    margin:0 auto;
}
#card .turn-page
{
    background-color:#ccc;
}

#card .page_border
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:100%;
    height:100%;
    border:1px solid black;
}
